/* You can add global styles to this file, and also import other style files */


:root{
  background: light dark;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: arial;

}

h1{
  color: #09f;
}
